h1{
    color:rgb(141, 32, 68);
    font-style: italic ;
}
p{
    color: crimson;
    font-style: large ;
}
a{
    color: palevioletred;
    font-style: italic;
}
div{
    background-color: pink;
}
h2{
    color: darkred;
    font-style: oblique;
}
.ImagemCentral{
    width: 70%;
    
   }
.Titulo1{
    text-align: center;
    background-color: pink;
}
.Titulo2{
    text-align: center;
    background-color: pink;  
}
.Titulo3{
    text-align: center;
    background-color: pink; 
}
ul{
    color: black;
    font-style: italic;  
    background-color: pink;
}
tr{
    color: darkred;
    font-style: oblique;  
}

